* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
.text-primary {
  color: #fd6e0a;
}
.btn-primary {
  background-color: #fd6e0a;
  color: #ffffff;
  height: 64px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 20px;
  border: 0;
  padding: 18px 35px;
}

.header {
  background: #fff8f3;
  background-image: url(images/header_bg.png), url(images/developer.png);
  background-repeat: no-repeat;
  background-position: bottom right, left;
}
section {
  margin-top: 120px;
}

/* Header amd Navigation style */
nav {
  display: flex;
  justify-content: space-between;
  margin: 0px 210px;
}
.nav-title {
  font-weight: 800;
  font-size: 45px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-left: 40px;
}

/* Banner style */
.banner {
  margin: 0 200px;
  display: flex;
  align-items: center;
}
.banner-sub-title {
  font-weight: 600;
  font-size: 45px;
  color: #474747;
  margin-bottom: 5px;
}
.banner-title {
  font-weight: 700;
  font-size: 85px;
  color: #181818;
  margin-bottom: 20px;
}
.banner-description {
  font-weight: 400;
  font-size: 18px;
  color: #757575;
  margin-bottom: 30px;
}

/* Main section style */
main {
  max-width: 1140px;
  margin: 0 auto;
}

/* About me styles */
.about {
  background: #fff8f3;
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
}
.section-title {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 35px;
  color: #181818;
}
.section-description {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #757575;
  margin-bottom: 30px;
}
.about-info-container {
  display: flex;
  justify-content: space-around;
}
.about .info-title {
  font-weight: 400;
  font-size: 20px;
  color: #757575;
}
.about .info-description {
  font-weight: 700;
  font-size: 20px;
  color: #474747;
}

/* what i do section style */

.what-i-do {
}
.skill-container {
  display: flex;
  margin-top: 90px;
  gap: 24px;
}
.skill {
  background: #ffffff;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  padding: 30px;
}
.skill-title {
  font-weight: 700;
  font-size: 20px;
  color: #181818;
  margin: 20px 0;
}
skill-description {
  color: #757575;
}
/*  Resume section style */
.resume-content {
  display: flex;
  gap: 50px;
}
.resume .rsume-item {
  margin: 30px 0;
}
.resume .title {
  color: #474747;
  font-weight: 700;
  font-size: 25px;
}
.resume .sub-title {
  color: #757575;
  font-weight: 600;
  font-size: 20px;
  margin-top: 7px;
  margin-bottom: 15px;
}
.resume .description {
  color: #757575;
}
.resume-button {
  text-align: center;
  margin-top: 40px;
}
/* contact styles */
.contact-section {
  background: #fff8f3;
  max-width: 100%;
}
.contact {
  margin: 0 350px;
  display: flex;
  gap: 100px;
  padding: 150px 30px;
}
.contact .section-title {
  text-align: left;
  font-weight: 700;
  font-size: 35px;
  color: #181818;
}
.contact-description{
  margin-bottom: 20px;
}
.contact input{
  margin-bottom: 24px;
  border: 0;
  height: 64px;
  width: 100%;
}
.contact textarea{
  margin-bottom: 20px;
  border: 0;
}
.contact a{
  text-decoration: none;
  margin-left: 20px;
}
